<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="text-center">
        <h1>Welcome to User Account</h1>
    </div>
    </div>
</div>
<nav class="nav-fluid">
<ul>
    <li class="nav-item">
        <a class="nav-link" routerLink="/addbank">Add-Bank-Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/bankbalance">Account-Bank-Balance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/wallet">View-Wallet</a>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" routerLink="/profile">View-Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/updateprofile">Update-Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">logout</a>
    </li>
 </ul>
</nav>
