.jumbotron {
    background-color: rgb(47, 172, 255);
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 27, 61);
    height:80px;
}

li {
    float: left;
}

li a {
  
    color: white;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    font-size:30px;
}

li a:hover {
    background-color: rgb(202, 62, 27);
}