<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="text-center">
        <h1>Welcome to View Bank Balance</h1>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
<form>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
            </div>
        </div>
    </div>
</div>

