
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navigation{
    margin:20px 30px;
    font-size: 20px;
}
.navigation .nav-item .nav-link{
    color:#fff;
    margin:0 20px;
}

.banner{
    background-color:#003377;
    height:100vh;
}


.active{
    font-weight: bold;
}

.banner h2{
    color:#fff;
    margin-left: 40px;
    margin-top: 300px;
    font-size:50px;
}


.banner p{
 margin-left: 40px;
 font-size: 20px;
 width:80%;
 text-align: justify;
 color:#fff;
}
body{
    height:100%;
    
}

.banner a{
    background-color: #fff;
    width:200px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 15px;
    color:#003377;
}

    .banner img{
    width:100%;
    height:750px;
    margin-top: 80px;
    
}